@import "layout/headers";
@import "layout/footer";

@import "utils/variable";
@import "utils/mixins";
@import "utils/normalize";
@import "utils/components";


@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');


main{
  font-family: 'Roboto', sans-serif;

  /* Debut section localisation */
  & .localisation{
    @extend %grid-center;
    @include grid-template-set ($localisation);
    padding: 1em;
    background: #eaeaea;
    background: linear-gradient(
        180deg,
         rgba(173,173,173,.35) 0%,
         rgba(234,234,234,.75) 15%,
         rgba(234,234,234,1) 100%); 
    & i {
        padding: 0 0.5em 0 0;
    }

  }


  /* Fin section localisation */

  /* Debut section presentation */
  .presentation {
    @extend %grid-center;
    @include grid-template-set ($presentation);
    padding: 2em 0 3em;
    background: #f6f6f6;
    text-align: center;

    & h2 {
        padding: 0 5em;
    }
    & p {
        padding: 1em 5em 2em;
    }
  }

  .btn{
    @include caps ($rose-secondaire);
    transform: scale (1.05);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 1.5rem;
    background-image: linear-gradient(to right, $rose-secondaire, $violet-primaire);
    border: none;
    border-radius: 2rem;
    width: 15rem;
    margin: 0.5rem;
    padding: 1rem;
    text-decoration: none;
  }

  /*
  .btn{
    @include ($rose-secondaire: #FF79DA);
    @include ($violet-primaire: #9356DC);
    transform: scale (1.05);
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }
  & .gradient{
    background-image: linear-gradient(to right, $rose-secondaire, $violet-primaire);
  }
  & .radius{
    border: none;
    border-radius: 2rem;
  }
  */


  /* Fin section presentation */
  
  /* Debut section commentCaMarche */
  & .commentCaMarche {
    @extend %grid-center;
    @include grid-template-set (1);
    padding: 3em 1em;

    & h2 {
      @include grid-pos-set (1, auto, 1, 2);
      justify-self: start;
    }
    & ol {
      @include grid-pos-set (2, auto , 1 , 4);
      display: grid;
      @include grid-template-set ($commentCaMarche);
      grid-gap: 2em;
    }
  }
}
